# Types of Data
## A. Qualitative Data
### 1. Nominal Data
### 2. Ordinal Data
## B. Quantitative Data
### 1. Discrete Data
### 2. Continuous Data

Some readings
1. 4 Types Of Data â€“ Nominal, Ordinal, Discrete and Continuous - https://www.mygreatlearning.com/blog/types-of-data/

In [8]:
#Open days_of_week.txt file

myfile = open("days_of_week.txt","r")
print(myfile.read())

Monday      1
Tuesday     2
Wednesday   3
Thursday    4
Friday      5
Saturday    6
Sunday      7

In [13]:
#Open days_of_week.txt file but only the first char the txt file

myfile = open("days_of_week.txt","r")
print(myfile.read(1))

M

TypeError: read expected at most 1 argument, got 2

In [20]:
myfile = open("days_of_week.txt","r")
for k in myfile:
    print(myfile.read())

Tuesday     2
Wednesday   3
Thursday    4
Friday      5
Saturday    6
Sunday      7

In [25]:
#Manipulating the output using counter when opening a txt file

myfile = open("days_of_week.txt","r")

for k in myfile:
    print(k)
    print("Reading observation from our dataset: " + k)

Monday      1

Reading observation from our dataset: Monday      1

Tuesday     2

Reading observation from our dataset: Tuesday     2

Wednesday   3

Reading observation from our dataset: Wednesday   3

Thursday    4

Reading observation from our dataset: Thursday    4

Friday      5

Reading observation from our dataset: Friday      5

Saturday    6

Reading observation from our dataset: Saturday    6

Sunday      7
Reading observation from our dataset: Sunday      7

In [ ]:
myfile = open("days_of_week.txt")

In [8]:
import pandas as pd
xl_file = pd.ExcelFile("trigonometric_functions.xlsx")
trig_values = xl_file.parse('Sheet1')
print(trig_values)

     Angle in degrees          Sine    Cosine      Tangente
0                   0  0.000000e+00  1.000000  0.000000e+00
1                   1  1.745241e-02  0.999848  1.745506e-02
2                   2  3.489950e-02  0.999391  3.492077e-02
3                   3  5.233596e-02  0.998630  5.240778e-02
4                   4  6.975647e-02  0.997564  6.992681e-02
..                ...           ...       ...           ...
356               356 -6.975647e-02  0.997564 -6.992681e-02
357               357 -5.233596e-02  0.998630 -5.240778e-02
358               358 -3.489950e-02  0.999391 -3.492077e-02
359               359 -1.745241e-02  0.999848 -1.745506e-02
360               360 -2.450297e-16  1.000000 -2.450297e-16

[361 rows x 4 columns]

In [12]:
import pandas as pd 
data1 = pd.read_csv("example_csv.csv")
data1.head()

     name  age        designation
0    John   50            Manager
1   Julia   40  Assistant Manager
2     Tom   30         Programmer
3  Sophia   25         Accountant

In [11]:
import pandas as pd 
data1 = pd.read_csv("example_csv.csv")
data1.head(3)#Returns the number of lines specified by the integer input

    name  age        designation
0   John   50            Manager
1  Julia   40  Assistant Manager
2    Tom   30         Programmer