# Header Sample
Write something here... just check how it looks

In [3]:
print("Hello world!")

Hello world!

In [4]:
a=True #it returns the type of 'a' as bool 
type(a)

bool

In [5]:
bool_variable = 5 < 3
bool_variable
#why is the answer such?

False

In [6]:
3+4

7

In [7]:
3+5-6

2

In [9]:
20-4*8

-12

In [10]:
(20-4*8)/3

-4.0

In [1]:
#division always return a floting poing number
10/4

2.5

In [1]:
50//8

6

In [2]:
50%8 #To calculate the remainder, use % operator

2

In [3]:
2**5 #To calculate the power in Python, use ** operator

32

In [4]:
type(4*3.4) #Operation with mixed type operands return output that has float data type

float

In [5]:
2+7j #Python has built-in support for complex numbers, and uses the j or J suffix to indicate the imaginary part

(2+7j)

In [6]:
height = 10       #equal sign(=) use to assign a value to a variable
width = 3*4
width * height

120

In [1]:
Height # If a variable is not assigned any value (not defined), we get an error

NameError: name 'Height' is not defined

In [9]:
my_variable = 10
my_variable += 10
my_variable

20

In [2]:
my_variable1 = 10
my_variable2 = 3
my_variable1**= my_variable2
my_variable1

1000

In [10]:
~3+1

-3

In [5]:
x = 2 #Operands
y = 5 #2(00000010) 5(00000101)

In [7]:
print(bin(x))
print(bin(y))

0b10
0b101

In [2]:
x&y #Bitwise AND

0

In [13]:
x|y #Bitwise OR

7

In [3]:
~x #Bitwise NOT, 2's complement bitwise but no bit inversion and not signed

-3

In [4]:
~y

-6

In [15]:
x^y #Bitwise XOR

7

In [16]:
y>>2 #Bitwise right shift

1

In [18]:
x<<2 #Bitwise left shift

8

In [19]:
x = True   #and operator
y = False
x and y

False

In [20]:
x = True   #or operator
y = False
x or y

True

In [21]:
x = True   #not operator
not x

False

In [22]:
x == y

False

In [23]:
x != y

True

In [24]:
x > y #x = 8, y = 3

True

In [27]:
x < y

False

In [26]:
x >= y

True

In [28]:
x <= y

False

In [29]:
x = 'Hello World'
print('H' in x) #return True if 'H' in x
print('Hello' not in x) #return True if 'Hello' not present in x

True
False

In [5]:
ord("a")

97

In [6]:
ord?

In [7]:
'A string enclosed in a single quote' #Type the following code to observe the output.

'A string enclosed in a single quote'

In [8]:
"Another way to specify a 'string'."

"Another way to specify a 'string'."

In [9]:
#We can specify multiple strings with the print statement.
#We use a comma to seperate them out.
#These strings will be printed with a space in between.
print('apple', 'and banana', 'are fruits')

apple and banana are fruits

In [10]:
#Trying to print a single quote within a string enclosed in single quotes or trying to print a double quotes within a string enclosed in double quotes gives an error message as follows.
print('Are n't, you said this.')

SyntaxError: invalid syntax (2906430453.py, line 2)

In [11]:
#To print such characters, we use backslash\, called the escape character.
print('Are n\'t, you said this.')

Are n't, you said this.

In [12]:
print('Are n\'t, \t you said this.')

Are n't, 	 you said this.

In [13]:
print('Are n\'t, \n you said this.')

Are n't,
 you said this.

In [14]:
#When we try to display the path of a directory such as C:\users\new_directoryby an output like the one given below:
print('c:\new_directory')

c:
ew_directory

In [15]:
#The reason is that \n is used to generate a new line, To avoid the new line, we use the letter r at the start of directory name as follows:
print(r'c:\new_directory')

c:\new_directory

In [17]:
#String can be combined/concatenated tofether by using + operator
str1 = 'Py'
str2 = 'thon'
str1 + str2

'Python'

In [18]:
#We use square brackets to access elements of a string
x = "Hello world"
print(x[0])

H

In [19]:
#The indices start from 0 in Python, To access the last character of the string, we may write:
print(x[-1])

d

In [20]:
print(x[0:5])

Hello

In [22]:
x = "Hello world"
print(x[6:len(x)])
len(x)

world

11

In [22]:
x = "Hello world"
x[:6] + x[6:] == x

True

In [23]:
#Syntax string[start:end:step]
x = 'Hello world'
x[10::-2]

'drwolH'

In [24]:
#Syntax string[start:end:step]
x = 'Hello world'

x[::-2]

'drwolH'

In [25]:
str = '123' * 3
str

'123123123'

In [26]:
#Syntax string[start:end:step]

str = '123' * 3

str[: :-3]

'333'

In [23]:
str1 = " Hello world "
print(str1.strip())

Hello world

In [28]:
#The method Lower() returns the string in the lower case.

str2 = "Hello World"
print(str2.lower())

hello world

In [29]:
#The method upper() returns the string in the upper case.

str3 = "Hello World"
print(str3.upper())

HELLO WORLD

In [31]:
#The method replace() replaces a string with another string.

str4 = "I like apples"
print(str4.replace("apples", "pineapples"))

I like pineapples

In [32]:
'Hello, how are YOU doing?'.swapcase()

'hELLO, HOW ARE you DOING?'

In [33]:
str5 = 'Hello, how are YOU doing'
print(str5.split(","))

['Hello', ' how are YOU doing']

In [34]:
'hello'.capitalize()

'Hello'

In [35]:
'hello'.find('o')

4

In [36]:
'hello123'.isalnum()

True

In [37]:
'hello*'.isalnum()

False

In [38]:
'2034'.isdecimal()

True

In [39]:
"Python".islower()

False

In [40]:
"PYTHON".isupper()

True

In [41]:
"PYTHON".lower()

'python'

In [42]:
"python".partition('t')

('py', 't', 'hon')

In [43]:
"We learn ".replace ('learn','have learned')

'We have learned '

In [44]:
"Data Science".rfind('Sc')

5

In [45]:
"Data Science".split(" ")

['Data', 'Science']

In [24]:
# """ are used for multi-line strings.
"""Learn Python
for Data Science""". splitlines()

['Learn Python', 'for Data Science']

In [47]:
"Data Science". startswith("D")

True

In [48]:
" Python ".strip()

'Python'

In [49]:
"Hello123".swapcase()

'hELLO123'

In [50]:
"python for data science".title()

'Python For Data Science'

In [51]:
"python".upper()

'PYTHON'

In [25]:
obtained_marks = 120
if(obtained_marks > 100):
    print("Invalid marks.")

Invalid marks.

In [26]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100):
    print("Invalid marks.")

Input marks of a student
110
Invalid marks.

In [27]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100):
    print("Invalid marks.")

Input marks of a student
80

In [30]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 80):
    print("Excellent.")
else:
    print("Not Excellent.")

Input marks of a student
70
Not Excellent.

In [31]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 80):
    print("Excellent.")
else:
    print("Not Excellent.")

Input marks of a student
90
Excellent.

In [1]:
obtained_marks = 120
if(obtained_marks > 100):
    print("Invalid marks.")

Invalid marks.

In [2]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100):
   	print("Invalid marks.")

Input marks of a student
80

In [3]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks >= 80):
    print("Excellent")
else:
    print("Not excellent")

Input marks of a student
80
Excellent

In [4]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100 or obtained_marks < 0):
    print("Invalid marks.")

Input marks of a student
-60
Invalid marks.

In [5]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100 or obtained_marks < 0):
    print("Invalid marks.")

Input marks of a student
120
Invalid marks.

In [6]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100 or obtained_marks < 0):
    print("Invalid marks.")

Input marks of a student
80

In [19]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100 or obtained_marks < 0):
    print("Invalid marks.")
elif(obtained_marks >=80):
    print("Excellent")
else:
    print("Not Excellent")

Input marks of a student
70
Not Excellent

In [9]:
switch = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday'
    }
switch.get(5)

'Friday'

In [10]:
switch = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    'a': 'Friday',
    6: 'Saturday',
    7: 'Sunday'
    }
switch.get('a')

'Friday'

In [11]:
fruits = ["pineapple","orange","banana"]#creating a list
for k in fruits:
    print(k)

pineapple
orange
banana

In [12]:
for j in range(10):
    print(j)

0
1
2
3
4
5
6
7
8
9

In [13]:
#In range(2, 10, 3), 3 is the step size

for x in range(2, 10, 3):
    print(x)

2
5
8

In [14]:
fruits = ["pineapple", "orange", "banana", "melon","dates"]
for k in fruits:
    if k == "banana":
        continue
    print(k)
    if k == "melon":
        break

pineapple
orange
melon

In [15]:
numbers = [0, 1, 2, 3, 4, 5]
for i in numbers:
    print(i)
else:
    print("No items left.")

0
1
2
3
4
5
No items left.

In [16]:
# Program to add natural numbers provided by the user. 
n = int(input("Enter an integer = "))
# initialize sum to 0 and a variable k as a counter
sum = 0
k = 1
while k <= n: #5
    sum = sum + k
    k = k+1    # update counter
print("The sum of first", n, "natural number is=", sum)

Enter an integer = 5
The sum of first 5 natural number is= 15

In [17]:
properties = ["red", "round", "tasty"]
fruits = ["apple", "orange", "banana"]
for j in properties:
      for k in fruits:
            print(j, k)

red apple
red orange
red banana
round apple
round orange
round banana
tasty apple
tasty orange
tasty banana

In [2]:
fruitlist = ["apple", "orange", "banana", "rambutan"]
print(fruitlist)

['apple', 'orange', 'banana', 'rambutan']

In [3]:
print(fruitlist[3])

rambutan

In [4]:
print(fruitlist[-2])

banana

In [5]:
print(fruitlist[2:4]) #element at index 2 and 3 but not 4 are accessed

['banana', 'rambutan']

In [6]:
print(fruitlist[:3])     # returns list elements from the start to "banana"
print(fruitlist[2:])     # returns elements from "banana" to last element
print(fruitlist[-3:-1])  # returns elements from index -3 to -1

['apple', 'orange', 'banana']
['banana', 'rambutan']
['orange', 'banana']

In [7]:
fruitlist[1] = "dates"
print(fruitlist)

['apple', 'dates', 'banana', 'rambutan']

In [13]:
print(fruitlist[:3])     # returns list elements from the start to "banana"
print(fruitlist[2:])     # returns elements from "banana" to last element
print(fruitlist[1:-1])  # returns elements from index 1 to -1

['apple', 'dates', 'banana']
['banana', 'rambutan']
['dates', 'banana']

In [14]:
if "apple" in fruitlist:
    print("apple is present in the list")

apple is present in the list

In [15]:
fruitlist =  ["apple", "orange", "banana", "melon"]

In [16]:
fruitlist.append('watermelon') 
fruitlist

['apple', 'orange', 'banana', 'melon', 'watermelon']

In [17]:
fruitlist.insert(1, 'cherry')

In [18]:
fruitlist.remove("banana")
print(fruitlist)

['apple', 'cherry', 'orange', 'melon', 'watermelon']

In [19]:
fruitlist.clear()
print(fruitlist)

[]

In [20]:
#To completely remove a list, use keyword del as below.

del fruitlist # removes fruitlist
fruitlist

NameError: name 'fruitlist' is not defined

In [22]:
#Lists can be joined together using + operator as follows.

fruitlist = ["durian", "mango", "strawberry"]
quantity = [20,15,50]
fruit_quantity = fruitlist + quantity
print(fruit_quantity)

['durian', 'mango', 'strawberry', 20, 15, 50]

In [23]:
mytuple = ("Python", "for", "Data Science")
print(mytuple)

('Python', 'for', 'Data Science')

In [24]:
print(mytuple[2])

Data Science

In [25]:
mytuple = ("Python", "for", "Data Science")
mylist = list(mytuple) #convert to a list
mylist[1] = "is handy for" #perform changes on the list
mytuple = tuple(mylist) #convert back to tuple
print(mytuple)

('Python', 'is handy for', 'Data Science')

In [1]:
mytuple = ("Python", "is not", "difficult", "I think", "Python")
print(mytuple.count("Python"))

2

In [2]:
print(mytuple.index('Data Science'))
print(mytuple.index('Data'))

ValueError: tuple.index(x): x not in tuple

In [3]:
myset = {"cat","tiger","dog","cow"}
for x in myset:
    print(x)

dog
tiger
cat
cow

In [4]:
print("tiger" in myset)
print("lion" in myset)

True
False

In [5]:
myset = {"cat", "tiger", "dog", "cow"}
myset.add("sheep")
print(myset)

{'tiger', 'cow', 'dog', 'cat', 'sheep'}

In [6]:
myset = {"cat", "tiger", "dog", "cow"}
myset.update(["sheep","lion","sheep"]) #update more than one, need to put '[]'
print(myset)

{'tiger', 'cow', 'dog', 'cat', 'lion', 'sheep'}

In [8]:
myset = {"cat", "tiger", "dog", "cow"}
myset.remove("tiger")
print(myset)
len(myset)
myset.discard("cat")
print(myset)

{'dog', 'cat', 'cow'}
{'dog', 'cow'}

In [9]:
myset1 = {"A", "B" , "C"}
myset2 = {1, 2, 3}
myset3 = myset1.union(myset2)
print(myset3)

{1, 2, 3, 'A', 'C', 'B'}

In [12]:
mydict = {
    "name":"Python",
    "purpose":"Data Science",
    "year":2020
}
print(mydict)

{'name': 'Python', 'purpose': 'Data Science', 'year': 2020}

In [13]:
# accesses value for key 'name'
print(mydict['name'])

# accesses value for key 'purpose'
print(mydict.get('purpose'))

Python
Data Science

In [15]:
print(mydict.get('address'))
print(mydict.get['address'])

None

TypeError: 'builtin_function_or_method' object is not subscriptable

In [16]:
mydict["year"] = 2019
mydict

{'name': 'Python', 'purpose': 'Data Science', 'year': 2019}

In [17]:
for k in mydict:
    print(k)

name
purpose
year

In [18]:
for k in mydict:
    print(mydict[k])

Python
Data Science
2019

In [19]:
for k in mydict.values():
    print(k)

Python
Data Science
2019

In [20]:
for x, y in mydict.items():
    print(x, y)

name Python
purpose Data Science
year 2019

In [21]:
if "purpose" in mydict:
    print("'purpose' is one of the valid keys")

'purpose' is one of the valid keys

In [22]:
mydict["pages"] = 300
print(mydict)

{'name': 'Python', 'purpose': 'Data Science', 'year': 2019, 'pages': 300}

In [23]:
mydict.pop("year")
# or use del mydict["year"] to get same result
print(mydict)

{'name': 'Python', 'purpose': 'Data Science', 'pages': 300}

In [24]:
mydict.clear()
mydict

{}

In [1]:
mydict = {
    "name": "Python",
    "purpose": "Data Science",
    "year": 2023
}
print(len(mydict))

3

In [2]:
mydict2 = mydict.copy()
print(mydict)
print(mydict2)

{'name': 'Python', 'purpose': 'Data Science', 'year': 2023}
{'name': 'Python', 'purpose': 'Data Science', 'year': 2023}

In [3]:
child1 = {
    "name": "Ali",
    "DOB": "Jun 2020"
}

child2 = {
    "name": "Abu",
    "DOB": "Aug 2000"
}

family = {
    "child1": child1,
    "child2": child2
}
family

{'child1': {'name': 'Ali', 'DOB': 'Jun 2020'},
 'child2': {'name': 'Abu', 'DOB': 'Aug 2000'}}

In [4]:
family['child1'].items()

dict_items([('name', 'Ali'), ('DOB', 'Jun 2020')])